body {
  font-family: sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 0 10px;
  line-height: 1.7;
}

header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}