.site-header {
    position: fixed;   /* 上部に固定 */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.site-title {
    font-family: 'Noto Sans JP', sans-serif; /* フォント指定 */
    font-size: 50px;                          /* サイズ指定 */
    margin: 0;
    color: #333;
}

body {
  font-family: sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 0 8px;
  line-height: 1.7;
  font-size: 25px;
  padding-top: 120px; 
  
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}