body {
  font-family: sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 0 8px;
  line-height: 1.7;
  font-size: 50px;
  
}
h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}